@media screen and (max-width: 576px) {
    /* nav-bar responsive start here */
    .nav-menu{
        display: none;
    }
    .bars{
        font-size: 1.5rem;
        display: block;
    }
    .nav-bar{
        gap: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        max-width: 353px;
        margin: 3.25rem 1.5rem;
    }
     /* nav-bar responsive end here */
    /* banner section responsive start here */
    .banner-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem auto;
    }
    .banner-container h1{
        font-size: 36px;
    }
    .span-font{
        font-size: 4.4rem;
    }
    .download-button, .primary-button{
        width: 169px;
        height: 45px;
        padding: 10px;
    }
    .club{
        display: none;
    }
    .banner-img img{
        width: 353px;
        height: 588px;
    }
    .sticker{
        position: absolute;
        top:3rem;
        right:1rem;
        width: 145.91px;
        height: 74.09px;
        border-radius: 9px;
    }
    .five-h{
        font-size: 30.24px;
    }
    .free-videos{
        font-size: 9.83px;
    }

    .three-h{
        font-size: 18.14px;
    }
    .sticker-two{
        position: absolute;
        bottom:10.5rem;
        left:1rem;
        max-width: 155.74px;
        max-height: 72.58px;
        border-radius: 9px;
    }
    .video-tutorial{
        font-size: 12.1px;
    }
    .shape{
        display: none;
    }
    .sticker-two i{
        display: block;
        font-size: 30px;
        color: rgb(230, 83, 60);
        background: rgb(250, 250, 249);
        border-radius: 60%;
    }
    /* banner section responsive end here */
    /* habit section responsive start here */
    .habit-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
        margin-top: 3.6rem;
    }
    .habit-content{
        width: 340px;
        height: 72px;
        margin: 0 3rem 0 -2rem;
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
    }
    .habit-title{
        font-size: 2rem;
        margin-top: -1.5rem;
        margin-bottom: 0.8rem;
    }
    .habit-description{
        margin-top:-1rem;
    }
/* habit section responsive end here */
/* run section style start here */
    .run-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 353px;
        height: 531px;
        margin: 1 auto;
        gap: 1rem;
        padding: 0.7rem;
    }
    .run-title{
        font-size: 32px;
    }
    .run-content button{
        width: 287px;
        height: 54px;
    }
    .hide-img img{
        width: 287px;
        height: 170px;
        margin-left: 20px;
        border-radius: 1.2rem;
        
    }
    .run-img{
        display: none;
    }
    .hide-img{
        display: block;
    }
/* run section style end here */
/* Calculator section style start here */
.calculator-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.calculator-header-title{
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem auto;
}
.calculator-main-title{
    font-size: 2rem;
}
/* table*/
.calculator-content{
    margin-left: 3.9rem;
}
.calculator-table-div{
    gap: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.calculator-table-title{
    font-size: 1rem;
}
table{
    max-width: 19rem;
}
td, th{
    padding: 0.7rem 1rem;
}
/* input style */
.bmi-title{
    font-size: 1rem;
    margin-top: 0.1rem 0rem;
}
.bmi-subtile{
    font-size: 0.8rem;
    margin: 0.rem 0rem;
}
form{
    gap: 0.5rem;
    margin: 1.5rem 0rem;
}
input, select{
    width: 170.5px;
    border-radius: 0.7rem;
    padding: 10px 10px;
    font-size: 1rem;
}
.calculator-btn{
    width: 13rem;
    margin: 1.2rem 0rem;
}
/* Calculator section style end here */
/* team section style start here */
.team-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.team-container{
    max-width: 83%;
}
.team-title{
    font-size: 2rem;
}
.team-subtitle{
    font-size: ;
}
/* team section style end here */

    
}