@media screen and (max-width: 576px) {
    /* nav-bar responsive start here */
    .nav-menu{
        display: none;
    }
    .bars{
        font-size: 1.5rem;
        display: block;
    }
    .nav-bar{
        gap: 10rem;
    }
     /* nav-bar responsive end here */
    /* banner section responsive start here */
    .banner-container{
        display: flex;
        flex-direction: column;
    }
    
     /* banner section responsive end here */

    
}